@import 'tailwindcss';
html {
  font-size: 16px;
}
:root {
  -webkit-tap-highlight-color: transparent;

  --background: #090c11;

  --text-primary: #f2e7d5;
  --text-secondary: #c6b59c;
  --muted-primary: #788691;
  --muted-secondary: #c7cbce;

  --surface: #241a13;

  --wood: #4a2f1d;

  --gold: #bb7e3b;
  --gold-light: #e6c07b;

  --paper: #dabc95;
  --folder: #b99668;

  --success: #58775a;
  --warning: #c9954a;
  --danger: #8b3c31;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 3);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 4);
  --shadow-lg: 0 10px 20px rgba(0, 0, 0, 5);

  --btn-primary: linear-gradient(
    50deg,
    var(--gold) 30%,
    var(--gold-light) 75%,
    var(--gold-light) 85%,
    var(--gold) 100%
  );

  /* FONTS */
  --heading: var(--font-average), sans-serif;
  --paragraph: var(--font-average), sans-serif;
  --printed: var(--font-syne), monospace;
  --handwritten: var(--font-caveat), cursive;
  --label: var(--font-syne), monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}
h1 {
  font-weight: 800;
  font-size: 2rem;
}
h2 {
  font-weight: 700;
  font-size: 1.75rem;
}
h3 {
  font-weight: 600;
  font-size: 1.5rem;
}
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 1.25rem;
}
p,
a,
span {
  font-family: var(--paragraph);
  font-weight: 300;
  font-size: 1rem;
}

@theme {
  --color-primary: var(--gold);
  --color-background: var(--background);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-muted: var(--muted-primary);

  --color-surface: var(--surface);

  --color-wood: var(--wood);

  --color-gold: var(--gold);
  --color-gold-light: var(--gold-light);

  --color-paper: var(--paper);
  --color-folder: var(--folder);

  /* STATUS */
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  /* FORMS */
  --color-required: var(--warning);
  --color-error: var(--danger);

  /* SHADOWS */
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);

  /* BUTTONS */
  --background-image-btn-primary: var(--btn-primary);
  --color-btn-secondary-bg: var(--background);
  --color-btn-secondary-border: var(--gold);
  --color-btn-disabled: var(--muted-primary);
  --color-btn-disabled-text: var(--muted-secondary);

  /* FONTS */
  --font-heading: var(--heading);
  --font-paragraph: var(--paragraph);
  --font-printed: var(--printed);
  --font-handwritten: var(--handwritten);
  --font-label: var(--label);
}
